.list {
    margin: 70px auto 50px;
    background: url("../i/list.jpg") repeat;
    width: 560px;
    max-height: calc(60vh);
    font-family: Arial, Arial, Helvetica, sans-serif;
    // overflow: hidden;
    position: relative;
    &_item {
        color: #135194;
        font-size: 18px;
        padding: 0px 25px 0px 70px;
        &:first-child { padding-top: 15px;}
        &.standart { color: #135194;}
        &.red { color: #D81507;}
        &.green { color: #069C0C;}
        &.black { color: #000;}
        &.grey { color: #868686;}
        &.pink { color: #E62265;}
        label { cursor: pointer;}
    }
    &-back {
        width: 560px;
        height: calc(60vh);
        background: url("../i/list.jpg") repeat;
        margin: 70px auto 50px;
        top: 44px;
        left: 50%;
        margin-left: -281px;
        position: absolute;
        &.__top {
            top: 41px;
            margin-left: -283px;
        }
    }
    &:focus { outline: none; }
    .btn {
        float: right;
        position: relative;
        border: none;
        padding-top: 13px;
        color: #565656;
        font-size: 22px;
        &:hover { animation: shake-trash 0.3s ease 2;}
        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
        }
    }
    .item-wr {
        display: inline-block;
        width: 80%;
        margin: 10px 0;
        &.ready {
            text-decoration:line-through;
            opacity: 0.4;
        }
     }
}
